*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 0vw 2vw;
    position: relative;
}

nav{
    height: 100px;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid rgb(148, 143, 143);
    border-radius: 50px;
    font-weight: 500;
    color: #000;
    font-size: 24px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;

}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.5s;
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
    color: white;
}

#nav-part2 h4 a{
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
}

#nav-part2 h4 a:hover{
    color: #fff;
}

#center{
    height: 70vh;
    width: 100%;
   
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #000000bb;
    padding-bottom: 2.5vw;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video{
    position: relative;
    width: 100%;
    margin-top: 3vw;
    border-radius: 30px;
}


#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    background-color: #FE320A;
    border-radius: 50%;
    right: 0;
    top: 70vh;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}


#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 70vh;
}
#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}